In [5]:
import pandas as pd
from rdkit import Chem
from mordred import Calculator, descriptors

In [2]:

# create descriptor calculator with all descriptors
calc = Calculator(descriptors, ignore_3D=True)

len(calc.descriptors)

1613

In [7]:
len(Calculator(descriptors, ignore_3D=True, version="1.0.0"))
1612

# calculate single molecule
mol = Chem.MolFromSmiles('c1ccccc1')
calc(mol)[:2]
[4.242640687119286, 3.9999999999999996, 0]

# calculate multiple molecule
mols = [Chem.MolFromSmiles(smi) for smi in ['c1ccccc1Cl', 'c1ccccc1O', 'c1ccccc1N']]

# as pandas
df = calc.pandas(mols)
df

100%|██████████| 3/3 [00:00<00:00,  3.66it/s]

,ABC,ABCGG,nAcid,nBase,SpAbs_A,SpMax_A,SpDiam_A,SpAD_A,SpMAD_A,LogEE_A,...,SRW10,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2
0,module 'numpy' has no attribute 'float'.\n`np....,module 'numpy' has no attribute 'float'.\n`np....,0,0,8.720566,2.101003,4.202006,8.720566,1.245795,2.844305,...,8.124151,33.544698,112.007978,9.333998,42,5,30.0,31.0,2.361111,1.666667
1,module 'numpy' has no attribute 'float'.\n`np....,module 'numpy' has no attribute 'float'.\n`np....,0,0,8.720566,2.101003,4.202006,8.720566,1.245795,2.844305,...,8.124151,33.544698,94.041865,7.233990,42,5,30.0,31.0,2.361111,1.666667
2,module 'numpy' has no attribute 'float'.\n`np....,module 'numpy' has no attribute 'float'.\n`np....,0,0,8.720566,2.101003,4.202006,8.720566,1.245795,2.844305,...,8.124151,33.544698,93.057849,6.646989,42,5,30.0,31.0,2.361111,1.666667

In [8]:
df['TopoPSA']

0     0.00
1    20.23
2    26.02
Name: TopoPSA, dtype: float64

In [10]:
df.to_csv('mol_descriptor.csv')