
# Molecular Descriptor Calculation

This <font color='orange'>**Mordred**</font>**Descriptor** notebook is designed for calculating molecular descriptors in the brwoser without any sign-up/in requirement, with **Rdkit** and **Mordred** used to calculate descriptors, **Pandas** used to visulize the result.

[![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gl/quantaosun%2Fdescriptor/HEAD?labpath=mordred.ipynb)
[![version](https://img.shields.io/badge/Mordred-Github-blue)](https://github.com/mordred-descriptor/mordred)
[![version](https://img.shields.io/badge/Installed_and_hosted_by-Quantao_Sun-red)](https://gitlab.com/quantaosun/descriptor)

##  A total 1613 descriptors will be calculated

In [1]:
import pandas as pd
from rdkit import Chem
from mordred import Calculator, descriptors

In [2]:

# create descriptor calculator with all descriptors
calc = Calculator(descriptors, ignore_3D=True)

len(calc.descriptors)

1613

## Paste SMILES below üëá 

- Click **Run** from top left üëÜ, click **Run All Cells**

In [3]:
mols = [Chem.MolFromSmiles(smi) for smi in ['c1ccccc1Cl', 'c1ccccc1O', 'c1ccccc1N']]
df = calc.pandas(mols)
df

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 3/3 [00:00<00:00,  4.26it/s]

,ABC,ABCGG,nAcid,nBase,SpAbs_A,SpMax_A,SpDiam_A,SpAD_A,SpMAD_A,LogEE_A,...,SRW10,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2
0,module 'numpy' has no attribute 'float'.\n`np....,module 'numpy' has no attribute 'float'.\n`np....,0,0,8.720566,2.101003,4.202006,8.720566,1.245795,2.844305,...,8.124151,33.544698,112.007978,9.333998,42,5,30.0,31.0,2.361111,1.666667
1,module 'numpy' has no attribute 'float'.\n`np....,module 'numpy' has no attribute 'float'.\n`np....,0,0,8.720566,2.101003,4.202006,8.720566,1.245795,2.844305,...,8.124151,33.544698,94.041865,7.233990,42,5,30.0,31.0,2.361111,1.666667
2,module 'numpy' has no attribute 'float'.\n`np....,module 'numpy' has no attribute 'float'.\n`np....,0,0,8.720566,2.101003,4.202006,8.720566,1.245795,2.844305,...,8.124151,33.544698,93.057849,6.646989,42,5,30.0,31.0,2.361111,1.666667

## The final result can be found by clicking the üìÅ icon  on top left

In [4]:
df.to_csv('mol_descriptor.csv')